<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
{% extends 'index.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form2" name="form2" method="post" action="searchreport#about">
  <table width="311" border="1"class="table table-hover">
    <tr>
      <th colspan="3" scope="col"> <label>Date
        <input type="date" name="textfield" />
        </label>
          <label>
          <input type="submit" name="Submit" value="Search" />
          </label>
      </th>
    </tr>
    <tr>
      <td width="44"><strong>Work</strong></td>
      <td width="66"><strong>Team-Lead</strong></td>
      <td width="179"><strong>Status</strong></td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['work_type']}}</td>
      <td>{{i['Fname']}} {{i['Lname']}}</td>
      <td>{{i['status']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
