<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form2" name="form2" method="post" action="">
  <table width="285" border="1">
    <tr>
      <th colspan="4" scope="col"> <label> Date
        <input type="text" name="textfield" />
        </label>
          <label>
          <input type="submit" name="Submit" value="Search" />
          </label>
      </th>
    </tr>

    <tr>
      <td width="31"><strong>Work</strong></td>
      <td width="47"><strong>Team-Member-Name</strong></td>
      <td width="47"><strong>Status</strong></td>
      <td width="132">&nbsp;</td>
    </tr>

    <tr>
      <td><a href="#">Edit</a></td>
    </tr>
  </table>
</form>
</body>
</html>
