<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form2" name="form2" method="post" action="UpdateworkStatus">
  <table width="303" border="1">
    <tr>
      <th colspan="3" scope="col"> <label> Date
        <input type="Date" name="textfield" />
        </label>
          <label>
          <input type="submit" name="Submit" value="Search" />
          </label>      </th>
    </tr>
    <tr>
      <td width="49"><strong>Work</strong></td>

      <td width="53"><strong>Status</strong></td>
      <td width="53"><strong></strong></td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i['work']}}</td>

      <td>{{i['status']}}</td>
      <td><a href="status.html?id={{i['aid']}}">Edit</a></td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
</html>
