<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'TLindex.html' %}
{% block body %}

<body>
<form id="form3" name="form3" method="post" action="Allocate#about">
  <table width="200" border="1"class="table table-hover">
    <tr>
      <th scope="row">Team-Member-Name</th>
      <td><label>
        <select name="select2">
          {% for i in val %}
          <option value="{{i['lid']}}">{{i['fname']}} {{i['lname']}}</option>
          {% endfor %}
        </select>
        </label>
      </td>
    </tr>
    <tr>
      <th scope="row">Work</th>
      <td><label>
      <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Date-to-be-completed</th>
      <td><label>
        <input type="Date" name="textfield2" required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"> <label>
        <input type="submit" name="Submit2" value="Add" />
        </label>
      </th>
    </tr>
  </table>
</form>
</body>

<!--</html>-->
{% endblock %}

