<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<!--{% extends  'index.html' %}-->
<!--{% block body %}-->
<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="252" border="1">-->
    <!--<tr>-->
      <!--<td><div align="center"><strong>HR</strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td width="242"><a href="Add And manage TL.html"><strong>Add and manage Team-Lead</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="Add Work And assign TL-1.html"><strong>Add Work And Assign Team-Lead</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="View completed Work.html"><strong>View Completed Work Status</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="View Team-Member.html"><strong>View Team-Member</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="View Ongoing WorkReport.html"><strong>View Ongoing Work Report</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/"><strong>Logout</strong></a></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!--{% endblock %}-->
