<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<!--{% extends  'TLindex.html' %}-->
<!--{% block body %}-->

<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="346" border="1">-->
    <!--<tr>-->
      <!--<td width="336"><div align="center"><strong>TEAM-LEAD</strong></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="Add And manage TM.html"><strong>Add and Manage Team-member</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="View Work and allocate to TM.html"><strong>View Works and Allocate to Team Member</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="Update work Status.html"><strong>Update daily report</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="view and update report-TL.html"><strong>View report</strong></a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/"><strong>Logout</strong></a></td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
<!--{% endblock %}-->

