<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'TLindex.html' %}
{% block body %}

<body>
<form id="form2" name="form2" method="post" action="viewreport#about">
  <table width="289" border="1"class="table table-hover">
    <tr>
      <th colspan="3" scope="col"> <label> Date
        <input type="Date" name="textfield" />
        </label>
          <label>
          <input type="submit" name="Submit" value="Search" />
          </label>      </th>
    </tr>
    <tr>
      <td>Work</td>
      <td>Team-Member-Name</td>
      <td>Report</td>
    </tr>
    {% for i in val %}
    <tr>
      <td width="31">{{i['work']}}</td>
      <td width="47">{{i['fname']}} {{i['lname']}}</td>
      <td width="47">{{i['status']}}</td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
<!--</html>-->
{% endblock %}

